:root {
	--mobile-size: 375px; /*450;*/
	--desktop-size: 1440px;

	--primary-pale-blue: hsl(225, 100%, 94%);
	--primary-bright-blue: hsl(245, 75%, 52%);

	--neutral-very-pale-blue: hsl(225, 100%, 98%);
	--neutral-desaturated-blue: hsl(224, 23%, 55%);
	--neutral-dark-blue: hsl(223, 47%, 23%);
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: "Red Hat Display", sans-serif;
}
.container {
	background: var(--primary-pale-blue)
		url("../images/pattern-background-mobile.svg") repeat-x;
	min-width: 450px;
	/* width: 100%; */
	padding: 4rem 0;
	height: 100vh;
	position: relative;
}
.card {
	/* background-color: var(--neutral-very-pale-blue); */
	background-color: white;
	/* max-width: var(--mobile-size); */
	min-width: var(--mobile-size);
	width: 450px;
	margin: 0 auto;
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
}
.card__header {
	background: url("../images/illustration-hero.svg") no-repeat;
	height: 15rem;
	background-size: cover;
}
.card__container {
	/* background-color: aquamarine; */
	padding: 3rem 2.3rem;
}
.card__text {
	margin-bottom: 2rem;
}
.card__title {
	color: var(--neutral-dark-blue);
	font-weight: 900;
	font-size: 2em;
}
.card__sumary {
	color: var(--neutral-desaturated-blue);
	font-size: 1.4em;
	/* letter-spacing: 0.05em; */
	line-height: 1.6;
	/* font-weight: 500; */
	/* padding-top: .5em; */
}
.card__plan {
	background-color: var(--neutral-very-pale-blue);
	margin: 0 auto;
	height: 120px;
	/* width: 85%; */
	border-radius: 15px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: auto;
	font-size: 1.1em;
}
.card__plan--icon {
	/* background-size: cover; */
	width: 65px;
	height: 65px;
}
.card__cost {
	display: flex;
	flex-direction: column;
	/* width: max-content; */
	align-items: flex-start;
	justify-content: space-evenly;
	width: 35%;
	height: 50%;
}
.card__plan--price {
	color: var(--neutral-desaturated-blue);
	font-weight: 700;
}
.card__plan--type {
    color: var(--neutral-dark-blue);
	font-weight: 900;
}
.card__plan--change {
	font-weight: 700;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.card__ctaPay {
	display: block;
	width: 100%;
	height: 70px;
	margin-top: 35px;
	border: none;
	border-radius: 15px;
	background-color: var(--primary-bright-blue);
	color: white;
	font-weight: 700;
	font-size: 1.3em;
    /* box-shadow: var(--neutral-dark-blue) 0 2em  3em  4em ; */
    box-shadow: var(--primary-bright-blue) 0px 10px 40px -16px; 
}
.card__order-cancel {
	margin-top: 35px;
	text-decoration: none;
	font-weight: 900;
	display: inline-block;
	font-size: 1.4em;
	color: var(--neutral-desaturated-blue);
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.attribution {
	/* margin-bottom: 1vh; */
	font-size: 11px;
	text-align: center;
	/* position: static; */
	/* bottom: 4rem; */
	margin-top: 1rem;
	margin-left: 50%;
	transform: translatex(-50%);
	width: 100%;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.card__plan--change:active{
    text-decoration: none;
    color: var(--primary-bright-blue);        
}
.card__ctaPay:active{
    background-color: var(--primary-pale-blue);
    cursor: pointer;
}
.card__order-cancel:active{
    color: var(--neutral-dark-blue);
}

@media screen and (min-width: 500px) {
	.container {
		background: var(--primary-pale-blue)
			url("../images/pattern-background-desktop.svg") repeat-x;
		max-width: var(--desktop-size);
		margin: 0 auto;
		height: 100vh;
	}
	.card {
		max-width: 500px;
		width: 480px;
	}
	.card__container {
		padding: 3rem 2.5rem;
	}
	.card__text {
		font-size: .8em;
	}
	.card__ctaPay {
		height: 50px;
		font-size: 1em;
	}
	.card__order-cancel {		
		font-size: 1em;		
	}
 
}
